
<h1>Configureishion de la arena</h1>

<form method="post" action="/play">
  <h6>filas de la arena</h6>
  <label for="fieldRows">fieldRows</label>
  <input type="number" name="fieldRows" id="fieldRows"><br>
  <h6>columnas de la arena</h6>
  <label for="fieldColumns">fieldColumns</label>
  <input type="number" name="fieldColumns" id="fieldColumns"><br>
  <input type="submit" value="jugar" id="jugar">
</form>