<h1>Proyecto de ingenieria de software</h1>
<form action="/play">
  <input type="number" placeholder="filas">
  <input type="number" placeholder="columnas">
  <input type="number" value="X">
  <input type="number" value="Y">
  <input type="text" placeholder="Instrucciones">
  <input type="submit">
</form>