
<h1>Proyecto de ingenieria de software</h1>

<form method="post" action="/play">
  <h6>filas de la arena</h6>
  <input type="number" name="fieldRows"><br>
  <h6>columnas de la arena</h6>
  <input type="number" name="fieldColumns"><br>
  <h6>posicion en x del vehiculo</h6>
  <input type="number" name="posY"><br>
  <h6>posicion en y del vehiculo</h6>
  <input type="number" name="posX"><br>
  <h6>instrucciones</h6>
  <input type="text" name="instructions"><br>
  <h6>orientacion</h6>
  <input type="text" name="orientation"><br>
  <input type="submit" value="jugar">
</form>