
<h1>Proyecto de ingenieria de software</h1>

<form method="post" action="/play">
  <h6>filas de la arena</h6>
  <label for="fieldRows">fieldRows</label>
  <input type="number" name="fieldRows" id="fieldRows"><br>
  <h6>columnas de la arena</h6>
  <label for="fieldColumns">fieldColumns</label>
  <input type="number" name="fieldColumns" id="fieldColumns"><br>
  <h6>posicion en y del vehiculo</h6>
  <label for="posY">posY</label>
  <input type="number" name="posY" id="posY"><br>
  <h6>posicion en x del vehiculo</h6>
  <label for="posX">posX</label>
  <input type="number" name="posX" id="posX"><br>
  <h6>instrucciones</h6>
  <label for="instructions">Intrucciones</label>
  <input type="text" name="instructions" id="instructions"><br>
  <h6>orientacion</h6>
  <label for="orietation">Orientacion</label>
  <input type="text" name="orientation" id="orientation"><br>
  <input type="submit" value="jugar" id="jugar">
</form>