
<h1>Proyecto de ingenieria de software</h1>

<form method="post" action="/saludar">
  <label for="nombre">nombre</label>
  <input type="text" name="nombre" placeholder="nombre" id="nombre">
  <input type="submit" value="saludar">
</form>

<form method="post" action="/play">
  <label for="filas">filas</label>
  <input type="number" placeholder="filas" id="filas">
  <label for="columnas">columnas</label>
  <input type="number" placeholder="columnas" id="columnas">

  <label for="posX">coordenadaX</label>
  <input type="number" value="X" id="posX">
  <label for="posY">coordenadaY</label>
  <input type="number" value="Y" id="posY">

  <label for="instrucciones">instrucciones</label>
  <input type="text" placeholder="Instrucciones" id="instrucciones">
  <input type="submit" value="jugar">
</form>